@import "tailwindcss";

@tailwind utilities;


@layer utilities{
    .btn-bg{
        background: linear-gradient(0deg, rgba(159, 33, 228, 1), rgba(195, 45, 225, 1));
-webkit-background: linear-gradient(0deg, rgba(159, 33, 228, 1), rgba(195, 45, 225, 1));
-moz-background: linear-gradient(0deg, rgba(159, 33, 228, 1), rgba(195, 45, 225, 1));
    }
    .nav>li{
        @apply cursor-pointer;
    }
    .input{
        @apply w-40 h-10 focus:outline-none focus:ring-0 border-none
    }

    .job-container{
        @apply w-70 h-78 rounded-2xl;
    }
    .form-container{
        @apply w-[50vw] h-[92vh] absolute rounded-lg bg-gray-100  top-[20%] right-[25%];
    }
    
    label{
        @apply font-semibold text-[16px];
    }
    .form-container input,select{
       
       border:1px solid gray;

    }
    .jobdetails{
        @apply flex flex-row shrink-0 mr-2;
    }
    .blur-xs {
        filter: blur(5px);
      }
}

